/* DashboardSidebar.module.css */

.sidebarContainer {
margin-left: 10px;
  width: 250px;
  background-color: rgba(219, 236, 249, 1) !important; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  box-sizing: border-box;
  border-right: 1px solid #cfd8dc;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sidebarTopSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarLogo {
  width: 150px;
  height: auto;
  margin-bottom: 0px;
}

.sidebarTitle {
  font-family: 'DM Serif Display', serif !important;
  font-weight: 700;
  font-size: 40px !important;
  color: #144887;
  margin-bottom: 20px !important;
}


.sidebarNavList {
  align-items: top !important;
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.sidebarNavItem {
  padding: 8px 16px;
  border-radius: 30px 10px 40px 10px;
  color: #144887;
}

.sidebarNavItem:hover {
  background-color: #d0e4f7;
  color: #060606;
}

.sidebarActiveItem {
  background-color: #0d47a1;
  color: white;
}

.sidebarActiveItem svg {
  color: rgba(255, 255, 255, 0.436);
}

.sidebarLogoutItem {
  margin-top: 1000px;
  padding: 8px 16px;
  color: #f44336;
  margin-top: auto;
}


